# Database connection string (local development)
DATABASE_URL=postgresql+psycopg://<username>@localhost:5432/<dbname>

# Docker/Postgres settings
POSTGRES_USER=<your_username>
POSTGRES_PASSWORD=<your_password>
POSTGRES_DB=fastapi_url
POSTGRES_TEST_DB=fastapi_url_test
POSTGRES_HOST=db
POSTGRES_PORT=5432

# FastAPI app settings
FASTAPI_HOST=0.0.0.0
FASTAPI_PORT=8000
